###### These files are text and should be normalized (Convert crlf => lf)
###### build config, Documentation, git config, Heroku, misc config, code analysis config, server config, source code, templates
*.adoc          text
*.bat           text
*.bowerrc       text
*.coffee        text
*.css           text
*.csv           text
*.df            text
*.dot           text
*.ejs           text
*.haml          text
*.hbs           text
*.hbt           text
*.htm           text
*.html          text
*.inc           text
*.ini           text
*.jade          text
*.java          text
*.js            text
*.json          text
*.jsp           text
*.jspf          text
*.latte         text
*.less          text
*.md            text
*.mustache      text
*.npmignore     text
*.php           text
*.phtml         text
*.pl            text
*.properties    text
*.py            text
*.rb            text
*.sass          text
*.scm           text
*.scss          text
*.sh            text
*.sql           text
*.styl          text
*.svg           text
*.tab           text
*.textile       text
*.tld           text
*.tmpl          text
*.ts            text
*.tsv           text
*.txt           text
*.xml           text
*.yaml          text
*.yml           text
.csslintrc      text
.editorconfig   text
.gitattributes  text
.gitconfig      text
.gitignore      text
.htaccess       text
.jscsrc         text
.jshintignore   text
.jshintrc       text
.slugignore     text
AUTHORS         text
LICENSE         text
Procfile        text

###### Documents
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain

###### These files are binary and should be left untouched (binary is a macro for -text -diff)
*.7z            binary
*.class         binary
*.dll           binary
*.ear           binary
*.eot           binary
*.eps           binary
*.fla           binary
*.flv           binary
*.gif           binary
*.gif           binary
*.gif           binary
*.gz            binary
*.ico           binary
*.ico           binary
*.ico           binary
*.jar           binary
*.jpeg          binary
*.jpeg          binary
*.jpeg          binary
*.jpg           binary
*.jpg           binary
*.jpg           binary
*.mov           binary
*.mp3           binary
*.mp4           binary
*.pdf           binary
*.png           binary
*.png           binary
*.png           binary
*.pyc           binary
*.so            binary
*.svg           binary
*.swf           binary
*.tif           binary
*.tiff          binary
*.ttf           binary
*.war           binary
*.woff          binary
*.woff2         binary
*.zip           binary




